@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Myriad Pro,
    sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-amber-300 py-2 px-4 shadow outline-none hover:bg-amber-400 active:bg-amber-500;
}
.default-button {
  @apply rounded bg-gray-100 py-2 px-4 text-black shadow outline-none hover:bg-gray-200 active:bg-gray-300;
}
.primary-footer-text {
  @apply text-white font-semibold text-xl uppercase;
}

header {
  position: sticky;
  top: 0;
  background-color: rgba(249, 249, 249, 1);
  z-index: 50;
}
nav {
  height: 115px;
}

.footer-image-wrapper {
  width: 100%;
  max-width: 100%;
}

.footer-image-wrapper img {
  width: 100%;
  height: auto;
}

.custom-li > a {
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 15px;
  border-radius: 10px;
  color: #000;
}

.custom-li > a > svg {
  margin-right: 8px;
}

.custom-li:hover > a,
.custom-li:active > a {
  background-color: #38c2dd;
}

.custom-category-li > a {
  padding: 8px 0;
  padding-left: 45px;
  border-radius: 10px;
}
.custom-category-li:hover > a,
.custom-category-li:active > a {
  background-color: #38c2dd;
  color: #000;
}

input,
select,
textarea {
  @apply rounded border p-2 outline-none ring-offset-indigo-100 focus:ring;
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200;
}

/* img,
video {
  height: 100%;
} */

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  gap: 15px;
  /* height: 200px; */
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  height: 100%;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  margin: 20px 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #3acce9;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination {
  bottom: -10px !important;
  z-index: 15;
}
